/* পুরো পেজ লোডার */
.full-page-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  font-family: Arial, sans-serif;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Mobile Devices (max-width: 767px) */
@media (max-width: 767px) {
  .product-item.col-grid-3 {
    width: 50% !important; 
    float: left;
    padding: 5px 15px;
  }
  .products-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .product-item.col-grid-3 {
    flex: 0 0 50%; 
    max-width: 50%;
  }
  .section-products a.custom-button.button-small {
    padding: 5px 0px;
    font-size: 10px;
  }
  .section-products .product-item-details {
    padding: 10px 5px;
  }
  .sort-by {
    margin-left: 0px;
    min-width: 100%;
  }
}